@import "../../scss/colors";

.pg-beers > h2 {
	text-align: center;
	margin: 2rem 0 4rem;
}

.block--prod-list {
	display: grid;
	grid-gap: 2.5rem;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 2.5rem;
}

.block--favourites h2 {
	flex: 1 1 100%;
}

.block--filter-sort {
	flex-wrap: wrap;
	background-color: $gray-dark-1;
	border-radius: 0.5rem;
	padding: 2.5rem;
	margin-bottom: 2.5rem;
	gap: 2.5rem;
}

.block--filter-item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

input {
	font-size: 1rem;
	line-height: 100%;
	background: $gray-light;
	border: 1px solid $gray-light;
	border-radius: 0.5rem;
	padding: 0.5rem;
	min-width: 12.5rem;

	&#alcoholPercentage {
		padding: 0;
		border: 0;
		border-radius: unset;
		margin: 0;
	}
}

select {
	background-color: $gray-light;
	border: 1px solid $gray-light;
	border-radius: 0.5rem;
	padding: calc(0.5rem - 1px) 1rem calc(0.5rem - 1px) 0.5rem;
	font-size: 1rem;
	line-height: 100%;
	min-width: 12.5rem;
}

@media (max-width: 1200px) {
	.single-item {
		flex-basis: calc(50% - 2rem);
	}
}

@media (max-width: 576px) {
	.single-item {
		flex: 1 1 100%;
		margin: 1rem 0 2rem;
		&:hover {
			margin: 1rem 0 2rem;
			border-radius: 2rem 0 2rem 0;
			box-shadow: none;
		}
	}
}
