@import "../../scss/colors";

.single-item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	background: $gray-dark-1;
	border-radius: 0.5rem;
	padding: 2.5rem;

	img {
		max-height: 200px;
		margin-left: auto;
		margin-right: auto;
	}

	h2.headline {
		font-size: 1.5rem;
		line-height: 120%;
		text-transform: uppercase;
		text-align: center;
	}

	> * {
		margin: 0;

		&:is(p) {
			flex-grow: 1;
		}
	}

	.btn:hover {
		background-color: $gray-dark;
	}
}

.block--abv {
	display: flex;
	position: absolute;
	right: 0;
	top: 0;
	background: $yellow;
	border-radius: 0 0.5rem 0 0.5rem;
	color: $gray-dark;
	padding: 0.5rem 1rem;
}
