@import "../../scss/colors";
@import "../../scss/breakpoints";

.block--beer-info {
	max-width: 1400px;
	margin: 0.5rem 0 2.5rem;
	gap: 2.5rem;
}

.block--image {
	flex: 0 0 30%;
}

.block--image-frame {
	position: sticky;
	top: 2.5rem;
	padding: 2.5rem;
	background: $gray-dark-1;
	border-radius: 0.5rem;

	img {
		max-width: 12rem;
		max-height: 20rem;
		margin: auto;
	}
}

.pg--single-product {
	h1,
	h2,
	p {
		margin-bottom: 0;
	}

	.block--headline {
		display: grid;
		gap: 1rem;
	}

	.block--specs {
		flex-direction: column-reverse;
		gap: 2.5rem;
		margin: 2.5rem 0;

		> div {
			flex: 1 1 30%;
		}

		h2 {
			margin-bottom: 1.25rem;
		}

		li {
			margin-bottom: 0;
		}
	}
}

.txt-tag {
	color: $yellow;
}

@media (max-width: $mobile) {
	.block--beer-info {
		flex-direction: column;
	}

	.block--image-frame img {
		max-width: 4rem;
		max-height: 8rem;
	}
}
