@import "../../scss/breakpoints";

.pg-home {
	> div {
		flex: 1 1 50%;
	}

	.block--info {
		position: relative;
		height: calc(100vh - 165px - 82.5px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 800px;
		margin: auto;
		gap: 2.5rem;

		h1 {
			text-align: center;
		}
	}

	.block--info h1.headline,
	.text-description {
		margin-bottom: 0;
	}
}

@media (max-width: $small-mobile) {
	.pg-home .block--info {
		height: auto;
	}
}
