@import "../../scss/colors";
@import "../../scss/breakpoints";

.block--container.nav {
	padding: 2rem 5rem;
}

.block--links {
	display: flex;
	gap: 2.5rem;

	a {
		text-decoration: unset;
		text-transform: uppercase;
		color: $gray-light;
	}
}

.block-logo svg {
	display: block;
	font-size: 2rem;
}

@media (max-width: $small-mobile) {
	.block--container.nav {
		flex-direction: column;
		padding: 2.5rem 2rem;

		.block-logo {
			margin-bottom: 1.25rem;
		}
	}
}
