@import "../../scss/colors";
@import "../../scss/breakpoints";

.block--container.nav {
	padding: 2rem 5rem;
}

.block--links {
	display: flex;
	gap: 2.5rem;

	.block--link {
		position: relative;
		text-decoration: unset;
		text-transform: uppercase;
		color: $gray-light;

		&::after {
			content: "";
			display: block;
			height: 1px;
			position: absolute;
			border-radius: 0.5rem;
			left: unset;
			right: 0;
			width: 0;
			top: calc(100% + 0.5rem);
			background: $gray-light-1;
			transition: 100ms linear;
		}

		&:hover::after {
			width: 100%;
			right: unset;
			left: 0;
		}

		&.block--link-active::after {
			width: 100%;
		}
	}
}

.block-logo svg {
	display: block;
	font-size: 2rem;
}

@media (max-width: $small-mobile) {
	.block--container.nav {
		flex-direction: column;
		padding: 2.5rem 2rem;

		.block-logo {
			margin-bottom: 1.25rem;
		}
	}
}
