.block--container.nav {
  padding: 2rem;
}
.block--links a {
  padding-right: 1rem;
  text-decoration: unset;
  text-transform: uppercase;
  color: #fff;
  &:last-child {
    padding-right: 0;
  }
}
.block-logo img {
  max-height: 80px;
}
