$primary: #f5ad16;
$secundary: #a5d6a7;
$txt: #424242;
$dark-txt: #212121;
$light-txt: #616161;
$bcg-light: rgba(252, 252, 252, 0.2);
$bcg-dark: #183e62;

$gray-dark: #222831;
$gray-dark-1: #393e46;
$gray-light: #eeeeee;
$gray-light-1: #b0b2b5;
$yellow: #ffd369;
