@import "./colors";
@import "./breakpoints";

html * {
	font-family: "Inter", sans-serif;
}
h1,
h2 {
	line-height: 1.2;
	margin-bottom: 0.3em;
	font-weight: bold;
}
h3,
h4,
h5,
h6,
p,
span,
div,
a {
	line-height: 130%;
}
h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

ul {
	list-style: disc;
	margin-left: 1.25rem;
}

p,
li {
	font-size: 1rem;
	margin-bottom: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: $gray-light-1;
}

a:hover {
	color: $yellow;
}

h1.headline {
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h2.headline {
	font-size: 1.5rem;
	line-height: 120%;
	text-transform: uppercase;
}

@media (max-width: $mobile) {
	h1.headline {
		font-size: 2.25rem;
	}

	p,
	li {
		font-size: 0.875rem;
	}
}
